/* Example: styles.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;

  &.light-theme {
    background: white;
    color: black;
  }
  &.dark-theme {
    background: black;
    color: white;
  }
}

.container {
  padding: 1%;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    font-weight: bold;

    .Theme__Icon{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .Add__Todo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 15px 0;

    .Todo__Inputs {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px 0;

      .Todo__Inputs__Span {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100%;

        label {
          place-self: flex-start;
          margin-left: 10%;
        }
      }

      input {
        font-size: 1.2rem;
        width: 80%;
        padding: 2%;
        border: 2px solid black;
        border-radius: 10px;
        &:active &:focus {
          border: none;
          outline: none;
        }
      }
    }
    button {
      width: 100px;
      border-radius: 30px;
      box-shadow: none;
      background: linear-gradient(45deg, #03fcbf, #33ff43);
      color: black;
    }
    button:active {
      box-shadow: inset 0 0 5px #052f09, 0 0 20px #33ff43;
    }
  }
  .Todo__Items {
    width: 100%;
    /* background: linear-gradient(45deg, #c514ed, #00d8ff); */
    position: relative;
    padding: 20px;
    overflow: hidden;
    border-radius: 18px;
    transition: 2s ease-out;
    z-index: 10;
    background: #232323;
    outline: 5px solid black;

    &::after {
      content: "";
      position: absolute;
      inset: 3px;
      border-radius: 15px;
      background: black;
      z-index: -2;
    }

    .Todo__Item__Container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1%;
      border-radius: 5px;
      border: 2px solid black;
      background: #3f51b5;
      color: white;
      box-shadow: 0 0 10px #3f51b5;

      .Todo__And__CheckBox {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 80%;
        div {
          overflow: auto;
          white-space: normal;
          word-wrap: break-word;
          margin-left: 10px;
        }

        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          accent-color: #141718;
          cursor: pointer;
        }
      }
      .Edit__Delete__Btns {
        display: flex;
        .Edit__Btn {
          background: #2196f3;
        }
      }
      &.completed {
        background: #3cdf43;
        color: black;
        box-shadow: inset 0 0 10px #41522e;
      }
      &.completed .Todo__And__CheckBox {
        text-decoration: line-through;
      }
    }
  }
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  cursor: pointer;
  padding: 8px 22px;
  background: linear-gradient(45deg, #ff2a2a, #ff2d55);
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid black;
  transition: 0.1s all ease;
  &:active {
    transform: scale(0.9);
    box-shadow: inset 0 0 5px #ff2a2a, 0 0 20px #ff2d55;
  }
}
@media screen and (max-width: 425px) {
  .container {
    & .Todo__Items {
      padding: 15px;
      & .Todo__Item__Container {
        & .Todo__And__CheckBox {
          input[type="checkbox"] {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    & .Add__Todo {
      button {
        padding: 5px;
      }
      .Todo__Inputs {
        flex-direction: column;
        gap: 10px;
        input {
          width: 80%;
        }
      }
    }
  }

  button {
    padding: 4px 10px;
    font-size: 1rem;
  }
}
